[submodule "modules/stdlib"]
	path = modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "modules/apache"]
	path = modules/apache
	url = https://github.com/puppetlabs/puppetlabs-apache
[submodule "modules/apt"]
	path = modules/apt
	url = https://github.com/puppetlabs/puppetlabs-apt
[submodule "modules/cinder"]
	path = modules/cinder
	url = https://github.com/puppetize/puppetlabs-cinder
[submodule "modules/concat"]
	path = modules/concat
	url = https://github.com/ripienaar/puppet-concat
[submodule "modules/git"]
	path = modules/git
	url = https://github.com/puppetlabs/puppetlabs-git
[submodule "modules/glance"]
	path = modules/glance
	url = https://github.com/puppetize/puppetlabs-glance
[submodule "modules/horizon"]
	path = modules/horizon
	url = https://github.com/puppetlabs/puppetlabs-horizon
[submodule "modules/inifile"]
	path = modules/inifile
	url = https://github.com/cprice-puppet/puppetlabs-inifile
[submodule "modules/keystone"]
	path = modules/keystone
	url = https://github.com/puppetize/puppetlabs-keystone
[submodule "modules/memcached"]
	path = modules/memcached
	url = https://github.com/saz/puppet-memcached
[submodule "modules/mysql"]
	path = modules/mysql
	url = https://github.com/puppetlabs/puppetlabs-mysql
[submodule "modules/nova"]
	path = modules/nova
	url = https://github.com/puppetize/puppetlabs-nova
[submodule "modules/openstack"]
	path = modules/openstack
	url = https://github.com/puppetize/puppetlabs-openstack
[submodule "modules/quantum"]
	path = modules/quantum
	url = https://github.com/puppetize/openstack-quantum-puppet
[submodule "modules/rabbitmq"]
	path = modules/rabbitmq
	url = https://github.com/puppetlabs/puppetlabs-rabbitmq
[submodule "modules/rsync"]
	path = modules/rsync
	url = https://github.com/puppetlabs/puppetlabs-rsync
[submodule "modules/ssh"]
	path = modules/ssh
	url = https://github.com/saz/puppet-ssh
[submodule "modules/swift"]
	path = modules/swift
	url = https://github.com/puppetlabs/puppetlabs-swift
[submodule "modules/sysctl"]
	path = modules/sysctl
	url = https://github.com/duritong/puppet-sysctl.git
[submodule "modules/vcsrepo"]
	path = modules/vcsrepo
	url = https://github.com/puppetlabs/puppetlabs-vcsrepo
[submodule "modules/vswitch"]
	path = modules/vswitch
	url = https://github.com/puppetize/puppet-vswitch
[submodule "modules/xinetd"]
	path = modules/xinetd
	url = https://github.com/puppetlabs/puppetlabs-xinetd
[submodule "modules/bacula"]
	path = modules/bacula
	url = https://github.com/puppetize/puppetlabs-bacula.git
[submodule "modules/file_concat"]
	path = modules/file_concat
	url = https://github.com/puppetize/puppet-file_concat.git
